In [1]:
import pandas as pd

In [8]:
#seies is equivalent to column in excel and can be used to store an array of any data type
var = pd.Series([1,2,3,4], index = ['a','b','c','d']) #the seriex can also have names with hash
var[1] == var['b']

True

In [13]:
var = pd.Series([1,'a'])
for i in var:
    print(type(i))

<class 'int'>
<class 'str'>

In [2]:
data = {
     'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
     'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
              'Manchester', 'Cairo', 'Osaka'],
     'age': [41, 28, 33, 34, 38, 31, 37],
     'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0] }

In [115]:
tempDf = pd.DataFrame(data = data, 
                      columns = ['name', 'city', 'age', 'score'])
tempDf.columns = ['name', 'cities', 'age', 'score']
tempDf1 = tempDf[['cities', 'name']]
tempDf1.name

0    Xavier
1       Ann
2      Jana
3        Yi
4     Robin
5      Amal
6      Nori
Name: name, dtype: object

In [84]:
tempDf1["score"] = [1,2,3,4,None,4,None]
tempDf1.fillna(value=mean)

<ipython-input-84-9fe92810e280>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf1["score"] = [1,2,3,4,None,4,None]

NameError: name 'mean' is not defined

In [22]:
tempDf = pd.DataFrame(data = ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'], 
                    columns = ["name"])
dir(pd.DataFrame)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [85]:
#dataframe consists of both rwos and columns
raw_df = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45], 
    "field": ['a','a','b']
}
df = pd.DataFrame(raw_df) #case sensitive functions
df["calories"][1]
df.loc[1] #extracts row in data frame

calories    380
duration     40
Name: 1, dtype: int64

In [123]:
raw_df = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45], 
    "field": ['a','a','b']
}
df = pd.DataFrame(raw_df) #case sensitive functions
tempdf = df.pivot_table(index = ["field"], values= ["calories", "duration"], aggfunc = ["sum", "max"])
tempdf.reset_index()

  field      sum               max
        calories duration calories duration
0     a      800       90      420       50
1     b      390       45      390       45

In [86]:
df.index[df["calories"] == 420].to_list()

[0]

In [127]:
df.loc[0:1] #extracts a list of indexes
df.loc[1]

calories    380
duration     40
field         a
Name: 1, dtype: object

In [91]:
#csvData = pd.read_csv("test")
str(df["calories"]) # read all the records by converting in sting format

'0    420\n1    380\n2    390\nName: calories, dtype: int64'

In [48]:
df.loc[df["calories"] == 420]["duration"] #Search an elements in array
df.loc[df["calories"] == 420] & df.loc[df["duration"] == 50] #Search many conditions

   calories  duration
0       420        50

In [55]:
df.index[df.calories == 380].tolist() #search an index in data frames

[1]

In [61]:
df.duration[df["calories"][df["calories"]==420].index.tolist()]

0    50
Name: duration, dtype: int64

In [86]:
df.loc[:,["calories"]] #to extract some rows with restrictive columns

   calories
0       420
1       380
2       390

In [92]:
df.iloc[:,0:2] #to extract rows and columns with column indexes

   calories  duration
0       420        50
1       380        40
2       390        45

In [95]:
df.at[0,"calories"] #access the rows and columns
df.iat[0,0] #access the rows and columns by indexes

420

In [101]:
df["calories"].value_counts()

380    1
390    1
420    1
Name: calories, dtype: int64

In [127]:
#unique values in dataframe
df.nunique(axis = 0) #if axis = 0, it returns unique values along columns else if axis = 1, it reurns unique values in rows
for i in df:
   print(i,df.nunique(axis = 0)[i] == len(df[i]))

calories False
duration True

In [129]:
df["calories"].unique() #find unique value in data frame

array([390, 380], dtype=int64)

In [132]:
df.insert(2, "x",  [50, 40, 45]) #insert a column in dataframe

In [137]:
df.drop("x", axis = 1) #remove a column in data frame

   calories  duration
0       390        50
1       380        40
2       390        45

In [158]:
concatColumn = df["calories"].map(str) + "," + df["duration"].map(str) #concat values in data frame
df["calories"].map(float) #Update data type
(df["calories"].map(str) + "," + df["duration"].map(str)).unique() #find unique values in data frame

array(['390,50', '380,40', '390,45'], dtype=object)

In [183]:
copy_df = df.copy()
copy_df.drop(index = copy_df.index[copy_df.calories == 390])  #remove element from row ni data frames
copy_df.drop("x", axis = 1)  #remove element from columns in data frames

   calories  duration
0       390        50
1       380        40
2       390        45

In [333]:
df.sort_values("calories") #used to sort values
df.sort_values(["calories", "duration"], ascending = [True, False])
df.sort_values(["calories","duration"])
df.drop_duplicates(subset = "calories") #drop duplicates from data frame
#df

   calories  duration jn   x  tes  test
0       390        50  a  50   50    50
1       380        40  b  40   50    50
3       132       132  a  23   23    23

In [218]:
df.drop("tes", axis = 1)
#df.insert(len(df),"test", [50,50,40])

   calories  duration   x  test
0       390        50  50    50
1       380        40  40    50
2       390        45  45    40

In [231]:
import numpy as np
arr = np.empty(len(df["calories"]), dtype = bool) #create an empty arrray with data types
print(arr)
for y in df["test"]:
    np.append(arr, y in df["x"])
arr

[False False False]

array([False, False, False])

In [233]:
df.calories[df.calories > 380] #access some specific elements in data frames

390

In [265]:
df.rank()
df.head(5)

True

In [8]:
#unique count of all variables
for i in df:
    print(i, len(df[i].unique()))

#Join Combine
if "jn" not in df:
    df.insert(2,"jn", ["a","b","c"])
df_copy = df.copy()
df_copy["jn"] = df_copy["jn"].map(str)
df["calories"].append(df_copy["calories"]) #append values in a data frame
df.append(df_copy)

pd.concat([df, df_copy], axis = 1) # concat values in dataframe
df.join(df_copy, on = ["jn"], how = "inner") #join tables in data frames

calories 3
duration 3
jn 3
0    420
1    380
2    390
0    420
1    380
2    390
Name: calories, dtype: int64

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [10]:
df.describe()
df.mean()
df.count()
df.corr()

          calories  duration
calories  1.000000  0.960769
duration  0.960769  1.000000

In [335]:
df.loc[len(df.index)] = [132,132,'a',23,23,23] #add a row in data frame python

   calories  duration jn   x  tes  test
0       390        50  a  50   50    50
1       380        40  b  40   50    50
2       390        45  c  45   40    40
3       132       132  a  23   23    23
4       132       132  a  23   23    23
5       132       132  a  23   23    23
6       132       132  a  23   23    23
7       132       132  a  23   23    23
8       132       132  a  23   23    23
9       132       132  a  23   23    23

In [349]:
df.pivot_table(index = "jn", values = ["calories", "duration", "x", "tes", "test"], aggfunc = sum)
df.groupby("jn").agg(np.mean)
universityDf.pivot_table(index = "universityName", values= ["count"], aggfunc = "count") #for count of values
universityDf.pivot_table(index = "universityName", values= ["count"], aggfunc = pd.Series.nunique) #for unique values

    calories  duration       x     tes    test
jn
a     164.25    121.75  26.375  26.375  26.375
b     380.00     40.00  40.000  50.000  50.000
c     390.00     45.00  45.000  40.000  40.000

In [372]:
df["calories"][df["calories"].isnull() == True]
df.dropna() #to be used for rows
df.dropna(axis = 1) #to be used for columns
df["calories"][1] = None
df.fillna(df.mean()) #used to fill with average

<ipython-input-372-1ec16e4acc60>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["calories"][1] = None

     calories  duration jn   x  tes  test
0  390.000000        50  a  50   50    50
1  189.333333        40  b  40   50    50
2  390.000000        45  c  45   40    40
3  132.000000       132  a  23   23    23
4  132.000000       132  a  23   23    23
5  132.000000       132  a  23   23    23
6  132.000000       132  a  23   23    23
7  132.000000       132  a  23   23    23
8  132.000000       132  a  23   23    23
9  132.000000       132  a  23   23    23

In [383]:
df.rename(columns = {"Calories":"calories"}) #for selective updates in data frames
df.fillna(1)
df.replace(390, 1)
df.set_index("calories")

          duration jn   x  tes  test
calories
390.0           50  a  50   50    50
NaN             40  b  40   50    50
390.0           45  c  45   40    40
132.0          132  a  23   23    23
132.0          132  a  23   23    23
132.0          132  a  23   23    23
132.0          132  a  23   23    23
132.0          132  a  23   23    23
132.0          132  a  23   23    23
132.0          132  a  23   23    23

In [1]:
import pandas as pd

In [10]:
submission = {
    "submissionID":[1,2,3,4],
    "submissionType": ['submission','article_transfer','submission','submission'],
    "authorId" : ['1','1','3','4'], 
    "decisionId" : ['2','1','2','3']
}
decision = {
    "decisionId" : ['1','2','3','4'], 
    "editorDecision" : ['Accept','Reject','Reject','Reject'],
    "decisionReason" : ['null','wrong scope','null','wrong scope']
}
author = {
    "authorId" : ['1','2','3','4'], 
    "authorName" : ['Maria','Nushi','Mohammed','Jose'], 
    "university" : ['University A','University B','University A','University C']
}
submissionDf = pd.DataFrame(submission)
decisionDf = pd.DataFrame(decision)
authorDf = pd.DataFrame(author)

In [44]:
df = submissionDf.copy()
df = df.merge(decisionDf, on = "decisionId", how = "left").merge(authorDf, on = "authorId", how = "left")
tempDf = df.loc[df["decisionReason"] == "wrong scope"]
tempDf["index"] = 1
tempDf = tempDf.pivot_table(index = ["authorName", "university"], values = ["index"], aggfunc = sum).sort_values("index")
tempDf.iloc[0,]

<ipython-input-44-5a07e7b181de>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf["index"] = 1

index    1
Name: (Maria, University A), dtype: int64

In [72]:
import numpy as np
universityDf = pd.DataFrame()
universityDf["universityName"] = df.university.unique()
universityDf["ac"] = 0
tempDf  = df.loc[df.editorDecision == "Accept"]
for i in tempDf.university:
    universityDf.loc[universityDf.universityName == i]["ac"][0] += 1
for i in universityDf.index:
    print(universityDf["universityName"][i], universityDf["ac"][i])
#print(universityDf["UniversityName"], universityDf["ac"])
universityDf.loc[universityDf.universityName == "University A"]["ac"][0] +1

University A 0
University C 0

1

In [18]:
universityDf
universityDf.loc[len(universityDf)] = ["University A",0]
universityDf["count"] = 1

NameError: name 'universityDf' is not defined

In [112]:
universityDf.pivot_table(index = "universityName", values= ["universityName"], aggfunc = pd.Series.nunique)["count"][0]

ValueError: Grouper for 'universityName' not 1-dimensional